#main-body-container
  / Main Slider Container
  #main-slider-container
    = image_tag 'loading.gif', :class => 'logo'
    / Main Slider
    .flexslider
      %ul.slides
        / Slide1
        %li#first{style: "background: url('images/backgrounds/slide1.jpg');"}
          / Slide Background
          .width-container
            .slider-heading-container
              / Slider Top Captions
              .main-headings
                %h1.main-heading Seasoned Font End Developer
                %span.heading-connector1
                %h2 Proficient Back End Programmer
              / Slider Sub Captions
              .sub-headings
                %h2
                  %span
                    %i.icon-chevron-right
                  Full Stack Rails / ASP.NET 
                %h2
                  %span
                    %i.icon-chevron-right
                  UI/UX Enthusiast
                / %h2
                /   %span
                /     %i.icon-chevron-right
                /   Perfect for a wide variety of uses
            / %img#slide1-element.slide-element{alt: "slide-element", src: "images/PortfolioThumbs.png"}/
            / Floating element
        / Slide2
        %li#second{style: "background: url('images/backgrounds/manq.jpg');"}
          / Slide Background
          .width-container
            .slider-heading-container
              / Slider Top Captions
              .main-headings
                %h1.main-heading Diving deeper these days...
                / %span.heading-connector1
                / %h2 and gaining speed on:
                / %span.heading-connector2
              / Slider Sub Captions
              .sub-headings
                %h2
                  %span
                    %i.icon-chevron-right
                  Responsive Web Design
                %h2
                  %span
                    %i.icon-chevron-right
                  Ruby on Rails Application Development
                %h2
                  %span
                    %i.icon-chevron-right
                  Single-page applications
            / %img#slide2-element.slide-element{alt: "slide-element", src: "images/slide2-placeholder-element.png"}/
            / Floating element
        / Slide3
        %li#third{style: "background: url('images/backgrounds/RM.jpg');"}
          / Slide Background
          .width-container
            .slider-heading-container
              / Slider Top Captions
              .main-headings
                %h1.main-heading Take a look @ MY
                / %span.heading-connector1
                / %h2 @ MY
                / %span.heading-connector2
              / Slider Sub Captions
              .sub-headings
                %h2
                  %span
                    %i.icon-chevron-right
                  %a{:href => "#row1"} Skills
                %h2
                  %span
                    %i.icon-chevron-right
                  %a{:href => "#row2"} Portfolio
                %h2
                  %span
                    %i.icon-chevron-right 
                  %a{:href => "#row6", :class => "contact-me"} Contact Me 
                  for employment, a cool app idea or open-source projects
            / %img#slide2-element.slide-element{alt: "slide-element", src: "images/slide2-placeholder-element.png"}/
            / Floating element
    .progress-bar
      .bar
  / Skills
  #row1.row
    .width-container
      / Row Headings
      .heading-container
        .container
          %table
            %tr
              %td
                %h1 Skills
        %h2
          Front-end guru with solid application development skills
        .clear
      .content-container
        / Row Contents
        .container.left
          %h3 My Focus
          %p
            I live and breath in the front and back-end sphere but envision and plan in the UI/UX world. My HTML5, JavaScript, CSS, Ruby/.NET tools are always sharpened and ready to go!
          #skills-container
            / Skill 1
            #skill1.skill.empty
              .bar
              %h4.skill-name.exp 
                Front-end  :: 
                %span Expert
            / Skill 2
            #skill2.skill.empty
              .bar
              %h4.skill-name.int
                ASP.NET / C#  :: 
                %span Intermed
            / Skill 3
            #skill3.skill.empty
              .bar
              %h4.skill-name.adv 
                CMS  :: 
                %span Adv
            / Skill 4
            #skill4.skill.empty
              .bar
              %h4.skill-name.intro 
                Ruby on Rails  :: 
                %span Intro
            / Skill 5
            #skill5.skill.empty
              .bar
              %h4.skill-name.adv 
                UX / Visual Design  :: 
                %span Adv
        .left.last
          / Rotating Buttons Area
          .button-container
            / Rotating Buttons
            / Rotating Button 1
            .button1
              %button.icon-puzzle-piece
              %span.service-arrow
            / Rotating Button 2
            .button2
              %button.icon-cogs
              %span.service-arrow
            / Rotating Button 3
            .button3
              %button.icon-leaf
              %span.service-arrow
            / Rotating Button 4
            .button4
              %button.icon-rocket
              %span.service-arrow
            / Rotating Button 5
            .button5
              %button.icon-dashboard
              %span.service-arrow
            .clear
          %span#notched-line
          / Content Area for Rotating Buttons
          #service-description-container
            / Default content area
            .service-description.default
              %h3
                Front-end
              %ul.bulletList
                %li HTML5
                %li Standards Compliance / Accessibility
                %li CSS
                %li Unobtrusive JavaScript / jQuery
                %li Angular.js
                %li CSS pre-processing (SASS)
                %li Haml
                %li AJAX
                %li Responsive Frameworks (Bootstrap/Foundation)
                %li
                  Static Site Generation
                  %ul
                    %li Middleman
                    %li Jekyl
              %span
            / Rotating Button 1 Content Area
            .service-description.button1
              %span.icon-puzzle-piece
              %h3
                Ruby on Rails
              %ul.bulletList
                %li Ruby
                %li Rails 3/4
                %li RSpec/FactoryGirl
                %li Command line
                %li Ruby/Gem management
                %li MVC/REST/Routing
                %li PostgreSQL/SQLite
                %li Model visualization / planning
              %span
            / Rotating Button2 Content Area
            .service-description.button2
              %span.icon-cogs
              %h3
                ASP.NET/C#
              %ul.bulletList
                %li Web Forms
                %li MVC 3
              %span
            / Rotating Button3 Content Area
            .service-description.button3
              %span.icon-leaf
              %h3
                Visualization / Mockup Tools
              %ul.bulletList
                %li Photoshop
                %li Illustrator
                %li Invision Prototyping
                %li Bootstrap
                %li Foundation
              %span
            / Rotating Button4 Content Area
            .service-description.button4
              %span.icon-rocket
              %h3
                CMS
              %ul.bulletList
                %li Drupal/Wordpress
                %li SharePoint - WCM
                %li OmniUpdate - OU Campus
              %span
            / Rotating Button5 Content Area
            .service-description.button5
              %span.icon-rocket
              %h3
                Source Control
              %ul.bulletList
                %li GIT/GitHub
                %li Mercurial/Kiln
              %span
        .clear
  / Parallax 1
  .parallax-container.parallax1
    %img.parallax-bg{alt: "parallax-background", src: "images/enso_zen1.jpg"}/
    / Parallax 1 Background
    .width-container
      .testimonial-container
        / Quotes area
        .testimonial
          %span.quote-mark “
          / Quotes
          %p
            The ability to simplify means to eliminate the unnecessary so that the necessary may speak.
        / Testimonial By
        .testimonial-by-container
          %div
            %span.testimonial-by{style: "color: #2E0055; font-weight: bold;"} Hans Hofmann -
            %br/
            %span.testimonial-by-location{style: "position: relative; top: 14px;"}
              Abstract expressionist
            .clear
        .clear
  / Portfolio
  #row2.row
    .width-container
    / Row Headings
    .heading-container
      .container
        %table
          %tr
            %td
              %h1 Portfolio
      %h2 I enjoy the challenge of solving complex problems and creating great user experiences. Writing elegant and efficient code whether its Ruby/Rails or C#/ASP.NET in conjunction with HTML, CSS or jQuery is what makes me tick.
      .clear
    / Row Contents
    .content-container
      #gallery-container
        / Gallery Filters
        .gallery-options
          %button.button1.active.filter{"data-filter" => "all"} ALL
          / Gallery Filter (Only the text "ALL" inside the button can be changed)
          %button.button2.filter{"data-filter" => "apps"} Applications
          / Gallery Filter
          %button.button3.filter{"data-filter" => "responsive"} Responsive/Mobile
          / Gallery Filter
          %button.button4.filter{"data-filter" => "web"} Websites
          / Gallery Filter
        .gallery-options.column-selector
          %button.button2 2-COLUMNS
          %button.button3 3-COLUMNS
          %button.button4.active 4-COLUMNS
        .clear
        / Gallery Area
        %ul#gallery.four-cols
          / Change this ul's class name to "two-cols", "three-cols" or "four-cols"
          / UCR Admissions
          %li.gallery-item.all.apps
            / Add filter name as class
            .image-area
              = image_tag "images/proj-admissions-400px.png", alt: "portfolio-thumb"
              / Gallery Item Image
              .transparent-hover
              %span.plus-button
              / Gallery Item Description
              .gallery-item-description
                %p Front-end development + APS.NET MVC3 application development.
              %button.gallery-show-modal
            / Gallery Item Title and Category
            %h5 UCR Admissions
            %span.category ASP.NET Application Development
            .gallery-modal-container
              .gallery-inner-container.grey
                .portfolio-modal
                  / %i.icon-remove
                  / %button.close-button X
                  %a.icon-remove
                  .image-area
                    %a{:href => "http://admissions.ucr.edu"}
                      = image_tag "images/proj-admissions-595px.png", alt: "portfolio-large-image"
                    / Gallery Item Modal Window Image
                    .portfolio-nav
                      %button.gallery-prev &lt;
                      %button.gallery-next &gt;
                  .details
                    / Gallery Item Modal Window Title
                    %h2 
                      %a{:href => "http://admissions.ucr.edu"} UCR Admissions / International Admissions Suite
                    / Gallery Item Modal Window Content
                    .project-info
                      %span ASP.NET Application Development
                      %span.separator ::
                      %span 2013-2014 ongoing
                    %p.content
                      Our admissions websites serve a large number of students needs, including application requirements, admissions procedures, deadline and student notification management, social networking integration and custom forms. Build with ASP.NET MVC3 architecture, we leveraged data modeling, web services, external REST APIs and modern web standards to deliver a client-rich user experience.
                  .collapsable-items-container
                    / Gallery Item Modal Window Collapsable Info 1
                    .collapsable-item
                      .clickable-area
                        %button +
                        / Gallery Item Modal Window Collapsable Info Label
                        %h4 Partners
                      .hidden-container
                        / Gallery Item Modal Window Collapsable Info Content
                        %ul.bulletList
                          %li Student Affairs Communications
                          %li Enrollment Management
                          %li Vice Chancellor - Student Affairs
                    / Gallery Item Modal Window Collapsable Info 2
                    .collapsable-item
                      .clickable-area
                        %button +
                        / Gallery Item Modal Window Collapsable Info Label
                        %h4 Tasks
                      .hidden-container
                        / Gallery Item Modal Window Collapsable Info Content
                        %ul.bulletList
                          %li UX/UI Design
                          %li Front-end coding
                          %li Dynamic Data / REST API Integration
                          %li Administrator access interface development
                    / Gallery Item Modal Window Collapsable Info 3
                    .collapsable-item
                      .clickable-area
                        %button +
                        / Gallery Item Modal Window Collapsable Info Label
                        %h4 Skills
                      .hidden-container
                        / Gallery Item Modal Window Collapsable Info Content
                        %ul.bulletList
                          %li HTML5, CSS3, jQuery, AJAX, custom plugin development
                          %li ASP.NET MVC3, domain modeling, form processing, data validation
                          %li Mercurial Source Control, Project Management
          / Culinary Chameleon
          %li.gallery-item.all.responsive
            / Add filter name as class
            .image-area
              = image_tag "images/proj-culinary-400px.png", alt: "portfolio-thumb"
              / Gallery Item Image
              .transparent-hover
              %span.plus-button
              / Gallery Item Description
              .gallery-item-description
                %p Mobile / Responsive Web Design + APS.NET MVC3 application development.
              %button.gallery-show-modal
            / Gallery Item Title and Category
            %h5 Culinary Chameleon
            %span.category Responsive Website
            .gallery-modal-container
              .gallery-inner-container.grey
                .portfolio-modal
                  %a.icon-remove
                  .image-area
                    %a{:href => "http://foodtrucks.ucr.edu"}
                      = image_tag "images/proj-culinary-595px.png", alt: "portfolio-large-image"
                    / Gallery Item Modal Window Image
                    .portfolio-nav
                      %button.gallery-prev &lt;
                      %button.gallery-next &gt;
                  .details
                    / Gallery Item Modal Window Title
                    %h2 
                      %a{:href => "http://foodtrucks.ucr.edu"} Culinary Chameleon / UCR Food Trucks
                    / Gallery Item Modal Window Content
                    .project-info
                      %span Responsive Website
                      %span.separator ::
                      %span July 2013
                    %p.content
                      Implemented the Culinary Chameleon mobile/responsive website to showcase menu, location, hours, polls, twitter feeds and reservation requests forms for our campus food trucks. Build with ASP.NET MVC3 architecture, we leveraged data modeling, web services, external REST APIs within the context of Zurb Foundation 3's responsive CSS/JS framework to enhance the mobile and tablet experience.
                  .collapsable-items-container
                    / Gallery Item Modal Window Collapsable Info 1
                    .collapsable-item
                      .clickable-area
                        %button +
                        / Gallery Item Modal Window Collapsable Info Label
                        %h4 Partners
                      .hidden-container
                        / Gallery Item Modal Window Collapsable Info Content
                        %ul.bulletList
                          %li Student Affairs Communications
                          %li Housing, Dining and Residential Services
                    / Gallery Item Modal Window Collapsable Info 2
                    .collapsable-item
                      .clickable-area
                        %button +
                        / Gallery Item Modal Window Collapsable Info Label
                        %h4 Tasks
                      .hidden-container
                        / Gallery Item Modal Window Collapsable Info Content
                        %ul
                          %li UX/UI Design
                          %li Front-end coding
                          %li Dynamic Data / REST API Integration
                          %li Administrator access interface development
                    / Gallery Item Modal Window Collapsable Info 3
                    .collapsable-item
                      .clickable-area
                        %button +
                        / Gallery Item Modal Window Collapsable Info Label
                        %h4 Skills
                      .hidden-container
                        / Gallery Item Modal Window Collapsable Info Content
                        %ul.bulletList
                          %li HTML5, CSS3, jQuery, AJAX, custom plugin development
                          %li ASP.NET MVC3, domain modeling, form processing, data validation
                          %li Mercurial Source Control, Project Management
          / UCR Housing
          %li.gallery-item.all.web
            / Add filter name as class
            .image-area
              = image_tag "images/proj-housing-400px.png", alt: "portfolio-thumb"
              / Gallery Item Image
              .transparent-hover
              %span.plus-button
              / Gallery Item Description
              .gallery-item-description
                %p Front-end development + APS.NET Web Forms application development
              %button.gallery-show-modal
            / Gallery Item Title and Category
            %h5 UCR Housing
            %span.category Website
            .gallery-modal-container
              .gallery-inner-container.grey
                .portfolio-modal
                  %a.icon-remove
                  .image-area
                    %a{:href => "http://housing.ucr.edu"} 
                      = image_tag "images/proj-housing-595px.png", alt: "portfolio-large-image"
                    / Gallery Item Modal Window Image
                    .portfolio-nav
                      %button.gallery-prev &lt;
                      %button.gallery-next &gt;
                  .details
                    / Gallery Item Modal Window Title
                    %h2 
                      %a{:href => "http://housing.ucr.edu"} UCR Housing
                    / Gallery Item Modal Window Content
                    .project-info
                      %span Website
                      %span.separator ::
                      %span February 2013
                    %p.content
                      Delivered a rich digital resource to the UCR student body, our Housing, Dining and Residential Services website features a host of dynamic and interactive content. Interactive maps, dynamic announcements, events and menuing from external data feeds, along with reservation requests and processing forms are just some of the advanced features we build on top of our ASP.NET framework.
                  .collapsable-items-container
                    / Gallery Item Modal Window Collapsable Info 1
                    .collapsable-item
                      .clickable-area
                        %button +
                        / Gallery Item Modal Window Collapsable Info Label
                        %h4 Partners
                      .hidden-container
                        / Gallery Item Modal Window Collapsable Info Content
                        %ul.bulletList
                          %li Housing Dining and Residential Services
                          %li Student Affairs Communications
                          %li Student Affairs Enrollment Management
                    / Gallery Item Modal Window Collapsable Info 2
                    .collapsable-item
                      .clickable-area
                        %button +
                        / Gallery Item Modal Window Collapsable Info Label
                        %h4 Tasks
                      .hidden-container
                        / Gallery Item Modal Window Collapsable Info Content
                        %ul.bulletList
                          %li UX/UI Design
                          %li Front-end coding
                          %li Dynamic data / REST API integration
                          %li Administrator access and interface development
                    / Gallery Item Modal Window Collapsable Info 3
                    .collapsable-item
                      .clickable-area
                        %button +
                        / Gallery Item Modal Window Collapsable Info Label
                        %h4 Skills
                      .hidden-container
                        / Gallery Item Modal Window Collapsable Info Content
                        %ul.bulletList
                          %li HTML5, CSS3, jQuery, AJAX, custom plugin development
                          %li ASP.NET Web Forms, domain modeling, form processing, data validation
                          %li Mercurial source control, poject management
          / Visit UCR
          %li.gallery-item.all.apps
            / Add filter name as class
            .image-area
              = image_tag "images/proj-visit-400px.png", alt: "portfolio-thumb"
              / Gallery Item Image
              .transparent-hover
              %span.plus-button
              / Gallery Item Description
              .gallery-item-description
                %p Front-end development + APS.NET Web Forms application development
              %button.gallery-show-modal
            / Gallery Item Title and Category
            %h5 Visit UCR Tours
            %span.category ASP.NET Application Development
            .gallery-modal-container
              .gallery-inner-container.grey
                .portfolio-modal
                  %a.icon-remove  
                  .image-area
                    %a{:href => "http://student08.ucr.edu/em/visitUCR/default.aspx"} 
                      = image_tag "images/proj-visit-595px.png", alt: "portfolio-large-image"
                    / Gallery Item Modal Window Image
                    .portfolio-nav
                      %button.gallery-prev &lt;
                      %button.gallery-next &gt;
                  .details
                    / Gallery Item Modal Window Title
                    %h2 
                      %a{:href => "http://student08.ucr.edu/em/visitUCR/default.aspx"} VISIT UCR TOURS
                    / Gallery Item Modal Window Content
                    .project-info
                      %span Application Development
                      %span.separator ::
                      %span February 2013
                    %p.content
                      Built and delivered a comprehensive tour application to the UCR Campus Tours Office.  This provided our client with a one-stop shop for organising and managing tours while providing prospective students and parents an endpoint for scheduling and tracking their tours. Build using ASP.NET Web Forms architecture, we leveraged data modeling, web services, and complex workflows.
                  .collapsable-items-container
                    / Gallery Item Modal Window Collapsable Info 1
                    .collapsable-item
                      .clickable-area
                        %button +
                        / Gallery Item Modal Window Collapsable Info Label
                        %h4 Partner
                      .hidden-container
                        / Gallery Item Modal Window Collapsable Info Content
                        %ul.bulletList
                          %li UCR Campus Tours Office
                    / Gallery Item Modal Window Collapsable Info 2
                    .collapsable-item
                      .clickable-area
                        %button +
                        / Gallery Item Modal Window Collapsable Info Label
                        %h4 Tasks
                      .hidden-container
                        / Gallery Item Modal Window Collapsable Info Content
                        %ul.bulletList
                          %li UX/UI Design
                          %li Front-end coding
                          %li Dynamic data / REST API integration
                          %li Administrator access and interface development
                    / Gallery Item Modal Window Collapsable Info 3
                    .collapsable-item
                      .clickable-area
                        %button +
                        / Gallery Item Modal Window Collapsable Info Label
                        %h4 Skills
                      .hidden-container
                        / Gallery Item Modal Window Collapsable Info Content
                        %ul.bulletList
                          %li HTML5, CSS3, jQuery, AJAX, custom plugin development
                          %li ASP.NET Web Forms, domain modeling, form processing, data validation
                          %li Mercurial source control, poject management           
          / International Admissions               
          %li.gallery-item.all.web
            / Add filter name as class
            .image-area
              = image_tag "images/proj-international-400px.png", alt: "portfolio-thumb"
              / Gallery Item Image
              .transparent-hover
              %span.plus-button
              / Gallery Item Description
              .gallery-item-description
                %p Front-end development
              %button.gallery-show-modal
            / Gallery Item Title and Category
            %h5 International Admissions
            %span.category Website
            .gallery-modal-container
              .gallery-inner-container.grey
                .portfolio-modal
                  %a.icon-remove
                  .image-area
                    %a{:href => "http://international.ucr.edu"} 
                    = image_tag "images/proj-international-595px.png", alt: "portfolio-large-image"
                    / Gallery Item Modal Window Image
                    .portfolio-nav
                      %button.gallery-prev &lt;
                      %button.gallery-next &gt;
                  .details
                    / Gallery Item Modal Window Title
                    %h2 
                      %a{:href => "http://international.ucr.edu"} UCR International Admissions
                    / Gallery Item Modal Window Content
                    .project-info
                      %span Website
                      %span.separator ::
                      %span April 2010 - ongoing
                    %p.content
                      UCR's International Admissions websites serve the needs of our international prospective students and their families. Interactive and dynamic content includes translation services, embedded videos, custom search, twitter feeds and custom UI developemnt. Build using ASP.NET Web Forms architecture, we leveraged external REST APIs, jQuery plugins and external tranlation services to deliver a client-rich user experience.
                  .collapsable-items-container
                    / Gallery Item Modal Window Collapsable Info 1
                    .collapsable-item
                      .clickable-area
                        %button +
                        / Gallery Item Modal Window Collapsable Info Label
                        %h4 Partners
                      .hidden-container
                        / Gallery Item Modal Window Collapsable Info Content
                        %ul.bulletList
                          %li Student Affairs Communications
                          %li Enrollment Management
                          %li Vice Chancellor - Student Affairs
                    / Gallery Item Modal Window Collapsable Info 2
                    .collapsable-item
                      .clickable-area
                        %button +
                        / Gallery Item Modal Window Collapsable Info Label
                        %h4 Tasks
                      .hidden-container
                        / Gallery Item Modal Window Collapsable Info Content
                        %ul.bulletList
                          %li UX/UI Design
                          %li Front-end coding
                          %li Dynamic Data / REST API Integration
                          %li Administrator access interface development
                    / Gallery Item Modal Window Collapsable Info 3
                    .collapsable-item
                      .clickable-area
                        %button +
                        / Gallery Item Modal Window Collapsable Info Label
                        %h4 Skills
                      .hidden-container
                        / Gallery Item Modal Window Collapsable Info Content
                        %ul.bulletList
                          %li HTML5, CSS3, jQuery, AJAX, custom plugin development
                          %li ASP.NET MVC3, domain modeling, form processing, data validation
                          %li Mercurial Source Control, Project Management
          / Registrar
          %li.gallery-item.all.apps
            / Add filter name as class
            .image-area
              = image_tag "images/proj-registrar-400px.png", alt: "portfolio-thumb"
              / Gallery Item Image
              .transparent-hover
              %span.plus-button
              / Gallery Item Description
              .gallery-item-description
                %p Front-end development + APS.NET Web Forms application development
              %button.gallery-show-modal
            / Gallery Item Title and Category
            %h5 UCR Registrar
            %span.category ASP.NET Application Development
            .gallery-modal-container
              .gallery-inner-container.grey
                .portfolio-modal
                  %a.icon-remove
                  .image-area
                    %a{:href => "http://registrar.ucr.edu"} 
                      = image_tag "images/proj-registrar-595px.png", alt: "portfolio-thumb"
                    / Gallery Item Modal Window Image
                    .portfolio-nav
                      %button.gallery-prev &lt;
                      %button.gallery-next &gt;
                  .details
                    / Gallery Item Modal Window Title
                    %h2 
                      %a{:href => "http://registrar.ucr.edu"} UCR REGISTRAR
                    / Gallery Item Modal Window Content
                    .project-info
                      %span ASP.NET Application Development
                      %span.separator ::
                      %span July 2013
                    %p.content
                      UCR's Registrars websites serve a large number of students needs, including class registration, help desk support, record archiving, and course catalog functionality.  Build using ASP.NET Web Forms architecture, we leveraged data modeling, web services, external REST APIs and modern web standards to deliver a client-rich user experience.
                  .collapsable-items-container
                    / Gallery Item Modal Window Collapsable Info 1
                    .collapsable-item
                      .clickable-area
                        %button +
                        / Gallery Item Modal Window Collapsable Info Label
                        %h4 Partners
                      .hidden-container
                        / Gallery Item Modal Window Collapsable Info Content
                        %ul.bulletList
                          %li Registrar's Office 
                          %li Student Affairs Marketing
                    / Gallery Item Modal Window Collapsable Info 2
                    .collapsable-item
                      .clickable-area
                        %button +
                        / Gallery Item Modal Window Collapsable Info Label
                        %h4 Tasks
                      .hidden-container
                        / Gallery Item Modal Window Collapsable Info Content
                        %ul.bulletList
                          %li UX/UI Design
                          %li Front-end coding
                          %li Dynamic Data / REST API Integration
                          %li Administrator access interface development
                    / Gallery Item Modal Window Collapsable Info 3
                    .collapsable-item
                      .clickable-area
                        %button +
                        / Gallery Item Modal Window Collapsable Info Label
                        %h4 Skills
                      .hidden-container
                        / Gallery Item Modal Window Collapsable Info Content
                        %ul.bulletList
                          %li Web Design &amp; Development
                          %li HTML, CSS &amp; JavaScript
                          %li Photoshop &amp; Illustrator
          / LeRoch Lab
          %li.gallery-item.all.web
            / Add filter name as class
            .image-area
              = image_tag "images/proj-leroch-400px.png", alt: "portfolio-thumb"
              / Gallery Item Image
              .transparent-hover
              %span.plus-button
              / Gallery Item Description
              .gallery-item-description
                %p UI/UX Design + Front-end development
              %button.gallery-show-modal
            / Gallery Item Title and Category
            %h5 LeRoch Lab
            %span.category Website
            .gallery-modal-container
              .gallery-inner-container.grey
                .portfolio-modal
                  %a.icon-remove
                  .image-area
                    %a{:href => "http://lerochlab.ucr.edu"} 
                      = image_tag "images/proj-leroch-595px.png", alt: "portfolio-large-image"
                    / Gallery Item Modal Window Image
                    .portfolio-nav
                      %button.gallery-prev &lt;
                      %button.gallery-next &gt;
                  .details
                    / Gallery Item Modal Window Title
                    %h2 
                      %a{:href => "http://lerochlab.ucr.edu"} LeRoch Lab
                    / Gallery Item Modal Window Content
                    .project-info
                      %span Website
                      %span.separator ::
                      %span April 2010 - ongoing
                    %p.content
                      The LeRoch labaratory website serves a large number of collaborators, colleagues, as well as univerity faculty and student needs.  The site tells a story and paints a rich picture of the investigator's research programs, team members, publications and relevant technology. Built with standard web technologies that adhere to web standards.
                  .collapsable-items-container
                    / Gallery Item Modal Window Collapsable Info 1
                    .collapsable-item
                      .clickable-area
                        %button +
                        / Gallery Item Modal Window Collapsable Info Label
                        %h4 Client
                      .hidden-container
                        / Gallery Item Modal Window Collapsable Info Content
                        %ul.bulletList
                          %li Le Roch Laboratory - UCR
                    / Gallery Item Modal Window Collapsable Info 2
                    .collapsable-item
                      .clickable-area
                        %button +
                        / Gallery Item Modal Window Collapsable Info Label
                        %h4 Tasks
                      .hidden-container
                        / Gallery Item Modal Window Collapsable Info Content
                        %ul.bulletList
                          %li UI/UX
                          %li Front-end coding
                          %li Graphics/Image manipulation
                          %li Wordpress Developmemt
                    / Gallery Item Modal Window Collapsable Info 3
                    .collapsable-item
                      .clickable-area
                        %button +
                        / Gallery Item Modal Window Collapsable Info Label
                        %h4 Skills
                      .hidden-container
                        / Gallery Item Modal Window Collapsable Info Content
                        %ul.bulletList
                          %li Stardards-based HTML &amp; CSS
                          %li Photoshop / Illustrator
                          %li Custom JavaScript development
  / Contact Row
  #row6.row.grey
    .width-container
      / Row Headings
      .heading-container
        .container
          %table
            %tr
              %td
                %h1 Contact
        %h2 Interested in hiring for a site buildout, Rails app, ASP.NET app, or full-time position?  Feel free to contact me.
        .clear
        #form-alert
      / Row Contents
      .content-container
        .container.left  
          %p  As someone who takes responsibility for ongoing personal development, I am continually evaluating and upgrading my skills to stay on the leading edge of web development. I welcome the opportunity to work on open-source projects, small-scale applications or larger enterprise solutions in an organizational setting. Drop me a line and I'll get back to you ASAP.     
          / Contact Information
          .contact-details
            %ul
              %li
                %span.icon-home
                %span.contact-detail
                  1102 Turquoise St
                  %br/
                  / Contact Address
                  San Diego, CA   92109
                .clear
              %li
                %span.icon-mobile-phone
                %span.contact-detail 858.717.1052
                / Contact Phone
                .clear
              %li
                %span.icon-envelope
                %span.contact-detail 
                  %a{:href => "mailto:randalmaile@gmail.com?Subject=Portfolio%20Inquiry"} randalmaile@gmail.com
                / Contact Email
                .clear
        .left.last
          / Contact Form
          %p
            %a.very-large.fc-webicon.linkedin{href: "https://www.linkedin.com/in/randalmaile", target: "_blank"}

            %a.very-large.fc-webicon.twitter{href: "https://twitter.com/randalmaile", target: "_blank"}
  
            %a.very-large.fc-webicon.github{href: "https://github.com/randalmaile", target: "_blank"}
   
            %a.very-large.fc-webicon.tumblr{href: "http://randalmaile.tumblr.com/", target: "_blank"}
   
        .clear
  .width-container
  #overlay
    %div



